<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'jamu_app/styles/style.css' %}">
		<!-- script src="{% static 'jamu_app/biPartite.js' %}"></script>
		<script src="{% static 'jamu_app/d3.v3.min.js' %}"></script -->
		<script src="{% static 'jamu_app/scripts/jquery.min.js' %}"></script>
	</head>
	<body>
		<div id="header">
			Jamu Webserver
		</div>
		<div class="navbar">
			<ul>
				<li><a class="active" href="#">Home</a></li>
				<li><a href="#">Search</a></li>
				<li><a href="#">Predict</a></li>
				<li><a href="#">Utility</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>
		<div id="maincontent">